*~
*#
.#*
a.out
*decls.h
*.o
*.a
*.so
sandbox
platform.h
gdb-command
gitsha*
raxlpqemu
*disasm
sandbox
sandbox-patched
*compilation*
*raxlpxs

client.log
cscope.files
cscope.out
memcpy.asm
perf.data
perf.data.old
server.log

Makefile.good
Makefile.orig
Makefile.rej
config.status
linux-headers/
makefile.patch
merge.patch
pc-bios/
qdict-test-data.txt
qemu-version.sh
roms/
sand_log_*
tests/
version.mak
