*~
*#
.#*
a.out
*decls.h
*.o
*.a
*.so
*.bak
sandbox
platform.h
gdb-command
gitsha*
raxlpqemu
*disasm
sandbox
sandbox-patched
*compilation*
*raxlpxs

client.log
cscope.files
cscope.out
memcpy.asm
perf.data
perf.data.old
server.log

Makefile.good
Makefile.orig
Makefile.rej
config.status
linux-headers/
makefile.patch
merge.patch
pc-bios/
qdict-test-data.txt
roms/
sand_log_*
tests/
version.mak

####
.notes.sandbox.buildid
2017-03-06-103820-16943-1/
90480c0.diff
cfg.sh
client_limit.diff
hmp_version_info_livepatch.S
math-terminal
pr-review-commits
sandbox-pull-request.txt
scan-view/
sha1.txt
size_of.c
submodule.patch
user/gdbin.txt
user/util.v
# test executable
s_dynamic
# ghost in the filesystem
*\033OBq*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

