*~
*#
.#*
a.out
*decls.h
*.o
*.a
sandbox
platform.h
gdb-command
gitsha*
raxlpqemu
*disasm
sandbox
sandbox-patched
*compilation*
*raxlpxs

client.log
cscope.files
cscope.out
memcpy.asm
perf.data
perf.data.old
server.log
